* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 3px solid #668389;
    color: #eed8a9;
    transition-property: border-bottom-color, color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 -3px #668389;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #eed8a9;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#workspaces button.focused {
    background-color: transparent;
    box-shadow: inset 0 -3px #668389;
    color: #eed8a9;
}

#workspaces button.urgent {
    background-color: rgba(255, 100, 100, 0.3);
    color: #eed8a9;
}

#mode {
    background-color: transparent;
    border-bottom: 3px solid #668389;
    color: #eed8a9;
}

#clock,
#battery,
#cpu,
#memory,
#custom-vram,
#disk,
#temperature,
#network,
#pulseaudio,
#tray,
#mode,
#window {
    padding: 0 10px;
    color: #eed8a9;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
    color: #eed8a9;
}

#battery {
    background-color: transparent;
    color: #eed8a9;
}

#battery.charging, #battery.plugged {
    color: #eed8a9;
    background-color: transparent;
}

@keyframes blink {
    to {
        background-color: rgba(255, 0, 0, 0.5);
        color: #eed8a9;
    }
}

#battery.critical:not(.charging) {
    background-color: rgba(255, 0, 0, 0.3);
    color: #eed8a9;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

#cpu {
    background-color: transparent;
    color: #eed8a9;
}

#memory {
    background-color: transparent;
    color: #eed8a9;
}

#custom-vram {
    background-color: transparent;
    color: #eed8a9;
}

#disk {
    background-color: transparent;
    color: #eed8a9;
}

#network {
    background-color: transparent;
    color: #eed8a9;
}

#network.disconnected {
    background-color: transparent;
    color: #eed8a9;
}

#pulseaudio {
    background-color: transparent;
    color: #eed8a9;
}

#pulseaudio.muted {
    background-color: transparent;
    color: #eed8a9;
}

#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: rgba(255, 255, 0, 0.3);
}